/**
Stylesheet:Slideshow.css
	CSS for Slideshow.

License:MIT-style license.

Copyright:Copyright (c) 2008 [Aeron Glemann](http://www.electricprism.com/aeron/).
	
HTML:<div class="slideshow">
		<div class="slideshow-images" />
		<div class="slideshow-captions" />
		<div class="slideshow-controller" />
		<div class="slideshow-loader" />
		<div class="slideshow-thumbnails" />
	</div>
	
Notes:These next five rules are required for Slideshow to work correctly.
	Override at your own risk.
*/

.slideshow {
	display:block;
    position:relative;
    z-index:0;
}

.slideshow-images {
	display:block;
    overflow:hidden;
    position:relative;
}

.slideshow-images img {
	display:block;
    position:absolute;
    z-index:1;
}

.slideshow-thumbnails {
	overflow:hidden;
}

.slideshow-thumbnails ul {
	left:0;
    position:absolute;
    top:0;
    width:100000px;
}

/**
HTML:<div class="slideshow-images">
		<img />
		<img />
	</div>
	
Notes:The images div is where the slides are shown.
	Customize the visible / prev / next classes to effect the slideshow transitions:fading, wiping, etc.
*/

.slideshow-images {
    width:500px;
} 

.slideshow-images-visible { 
	opacity:1;
}

.slideshow-images-prev { 
	opacity:0;
}

.slideshow-images-next { 
	opacity:0;
}

.slideshow-images img {
	float:left;
    left:0;
    top:0;
}	

/**
Notes:These are examples of user-defined styles.
	Customize these classes to your usage of Slideshow.
*/

.slideshow { 
	height:auto;
    margin:0 auto;
    width:500px;
}

.slideshow a img {
	border:0;
}

/**
HTML:<div class="slideshow-captions">
		...
	</div>
	
Notes:Customize the hidden / visible classes to affect the captions animation.
*/

.slideshow-captions {
/*	background:none repeat scroll 0% 0% rgba(255, 255, 255, 0.3);	*/
	background:#000;
    opacity:.6;
    bottom:0;
    left:0;
    color:#fff;
    overflow:hidden;
    position:absolute;
    text-indent:10px;
    width:100%;
    z-index:10000;
	padding-top:5px;
	height:24px;
}

.slideshow-captions-hidden {
    opacity:.6;
}

.slideshow-captions-visible {
    opacity:.6;
}

/**
HTML:<div class="slideshow-controller">
		<ul>
			<li class="first"><a/></li>
			<li class="prev"><a/></li>
			<li class="play"><a/></li>
			<li class="next"><a/></li>
			<li class="last"><a/></li>
		</ul>
	</div>
	
Notes:Customize the hidden / visible classes to affect the controller animation.
*/

.slideshow-controller {
	background-color: rgba(0, 0, 0, 0);
    height:18px;
    left:50%;
    margin:0 0 0 -117px;
    overflow:hidden;
    position:absolute;
    bottom:6px;
    width:244px;
    z-index:10000;
}

.slideshow-controller * {
	margin:0;
    padding:0;
}

.slideshow-controller-hidden { 
	opacity:1;
}

.slideshow-controller-visible {
	opacity:1;
}

.slideshow-controller a {
	background: url(../images/controller-controls.png) no-repeat -47px 0;
    cursor:pointer;
    display:block;
    height:18px;
    left:112px;
    overflow:hidden;
    position:absolute;
    top:0px;
    width:20px;
}

.slideshow-controller a.active {
	background-position:-47px -18px;
}

.slideshow-controller li {
	list-style:none;
}

.slideshow-controller li.first a {
	background-position:0 0;
    left:0px;
    width:19px;
}

.slideshow-controller li.first a.active {
	background-position:0 -18px;
}

.slideshow-controller li.prev a {
	background-position:-19px 0;
    left:44px;
    width:28px;
}

.slideshow-controller li.prev a.active {
	background-position:-19px -18px;
}

.slideshow-controller li.play a {
	background-position:-67px 0;
	display:none;
}

.slideshow-controller li.play a.active {
	background-position:-67px -18px;
}

.slideshow-controller li.next a {
	background-position:-87px 0;
    left:173px;
    width:28px;
}

.slideshow-controller li.next a.active {
	background-position:-87px -18px;
}

.slideshow-controller li.last a {
	background-position:-115px 0;
    left:225px;
    width:19px;
}

.slideshow-controller li.last a.active {
	background-position:-115px -18px;
}

/**
HTML:<div class="slideshow-loader" />
	
Notes:Customize the hidden / visible classes to affect the loader animation.
*/

.slideshow-loader {
	display:none;
	background: url(../images/loading.gif);
    position:absolute;
    height:30px;
    width:30px;
    right:50%;
    top:50%;
	margin:-16px -16px 0px 0px;
    z-index:200;
}

.slideshow-loader-hidden {
	opacity:0;
}

.slideshow-loader-visible {
	opacity:1;
}


/*
slideshow-thumbnails
*/

.slideshow-thumbnails {
	bottom:-66px;
    height:63px;
    left:0;
    position:absolute;
    width:100%;
}

.slideshow-thumbnails * {
	margin:0;
    padding:0;
    height:60px;
	width:81px;
	border-right:#ffffff 3px solid;
	margin-right:-3px;
}

.slideshow-thumbnails li {
	float:left;
    list-style:none;
}

.slideshow-thumbnails a {
	display:block;
    float:left;
	outline:none;
}

.slideshow-thumbnails a:hover {
    opacity:1 !important;
}

.slideshow-thumbnails img {
	display:block;
}

.slideshow-thumbnails-hidden {
    opacity:0;
}

.slideshow-thumbnails-inactive {
    opacity:.6;
}

.slideshow-thumbnails-active {
    opacity:1;
}