/* ------------------------------------ */
/*			  OBJECT SEARCH				*/
/* ------------------------------------ */


/* ------------------------------------ */
/*			OBJECT SEARCH NAV			*/
/* ------------------------------------ */

#nav_search_private{
	float:left;
	width:918px;
	position:relative;
	margin:10px;
	height:23px;
	background:#ffffff;
	padding:5px;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
}
.no_result{
	color:#444444;
}

#nav_search_private .list_nav_text{
	float:left;
	font-size:14px;
	font-weight:600;
	color:#666666;
	line-height:23px;
	height:23px;
	padding:0px 5px;
}
#nav_search_private .list_nav_text.no_result{
	color:#444444;
}

#nav_search_private .list_nav_nb{
	float:right;
	font-size:12px;
	line-height:21px;
	height:21px;
	padding:0px 5px;
	color:#64c558;
    border:1px solid #64c558;
	background:#ffffff;
	margin-left:5px;
	cursor:pointer;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#nav_search_private .list_nav_nb:hover{
    border:1px solid #64c558;
	background:#64c558;
	color:#ffffff;
}
#nav_search_private .list_nav_nb.active{
	line-height:21px;
	height:21px;
	padding:0px 5px;
    border:1px solid #64c558;
	background:#64c558;
	color:#ffffff;
	cursor:default;
	font-weight:600;
}

#nav_search_private .list_nav_nb.dots{
	border:none;
	background:none;
	color:#64c558;
}
#nav_search_private .list_nav_nb.dots:hover{
	border:none;
	background:none;
	color:#64c558;
	cursor:default;
}



/* ------------------------------------ */
/*			  OBJECT SEARCH				*/
/* ------------------------------------ */

	#object_search_private{
	float:left;
	width:454px;
	position:relative;
	margin:10px;
	background:#ffffff;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	overflow:hidden;
}


/*			 	  HEADER				*/

#object_search_private .header{
	position:relative;
	top:2px;
	margin:0px 0px 3px 0px;
	height:26px;
	padding:3px;
}

#object_search_private .header .name{
	float:left;
	color:#444444;
	font-size:20px;
	line-height:26px;
	height:26px;
	font-weight:600;
	margin-left:3px;
	width:340px;
	overflow:hidden;
}
#object_search_private .header .name span{
	font-size:14px;
	font-weight:300;
}

#object_search_private .header .img{
	float:right;
	font-size:16px;
	text-height:18px;
	height:18px;
	color:#666666;
	font-weight:600;
	padding:5px 8px 5px 42px;
	margin:-1px 0px 0px 3px;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
	webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
}
 
#object_search_private .header .img.beds{
	display:none;
	background: url(../images/bed_small.png) no-repeat 6px 4px #f8f8f8;
}

#object_search_private .header .img.beach{
	background: url(../images/beach_small.png) no-repeat 6px 4px #f8f8f8;
}




/*			 	  CONTENT				*/

#object_search_private .content{
	padding:3px 3px 0px 3px;
	height:151px;
}


/*			   CONTENT LEFT				*/

#object_search_private .content .left{
	float:left;
	width:448px;
	height:148px;
}

#object_search_private .content .left .photos{
	float:left;
	height:148px;
}

#object_search_private .content .left .photos .photo{
	position:absolute;
	top:38px;
	left:3px;
	width:205px;
	height:148px;
	display:none;
	background-color:#808892;
}

#object_search_private .content .left .photos .photo.active{
	display:inline;
}

#object_search_private .content .left .photos .side_photo{
	float:left;
	width:50px;
	height:28px;
	margin:0px 0px 2px 207px;
    opacity:.4;
	background-color:#808892;
}

#object_search_private .content .left .photos .side_photo.active{
    opacity:1;
}

#object_search_private .content .left .accommodation{
	float:right;
	width:180px;
	height:88px;
	overflow-y:auto;
	overflow-x:hidden;
}

#object_search_private .content .left .accommodation .text{
	line-height:22px;
	height:22px;
	font-size:14px;
	padding:0px 0px 0px 3px;
	color:#666666;
	cursor:pointer;
}
#object_search_private .content .left .accommodation .text span{
	font-weight:600;
}

#object_search_private .content .left .accommodation .text:hover{
	color:#ffffff;
	background-color:#64c558;
}

#object_search_private .content .left .left_price{
	float: right;
	color:#666;
	text-align:right;
	width:180px;
	margin:7px 0px 8px 0px;
}
#object_search_private .content .left .left_price span{
	color: #64c558;
font-size: 18px;
	line-height:18px;
	font-weight: 600;
	margin: 0px 5px 0px 2px;
}
	
#object_search_private .more_button{
	float:right;
	margin:0px 0px 0px 0px;
	font-size:14px;
	padding:2px 12px 3px 12px;
	text-decoration:none;
	background-color:#ffffff;
	border:1px solid #64c558;
	color:#64c558;
	text-decoration:none;
	cursor:pointer;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#object_search_private .more_button:hover{
	background-color:#64c558;
	border:1px solid #64c558;
	color:#ffffff;
}






/* ------------------------------------ */
/*			  	OBJECT MY				*/
/* ------------------------------------ */

#object_my{
	float:left;
	width:529px;
	position:relative;
	margin:10px;
	background:#ffffff;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	overflow:hidden;
}


/*			 	  HEADER				*/

#object_my .header{
	position:relative;
	top:2px;
	margin:0px 0px 3px 0px;
	height:26px;
	padding:3px;
}

#object_my .header .name{
	float:left;
	color:#444444;
	font-size:20px;
	line-height:26px;
	height:26px;
	font-weight:600;
	margin-left:3px;
	width:270px;
	overflow:hidden;
}
#object_my .header .name span{
	font-size:14px;
	font-weight:300;
}

#object_my .header .options{
	float:right;
	color:#64c558;
	font-size:12px;
	line-height:26px;
	height:26px;
	text-decoration:underline;
	font-weight:300;
	margin-right:5px;
	cursor:pointer;
}

#object_my .header .img{
	float:right;
	font-size:16px;
	text-height:18px;
	height:18px;
	color:#666666;
	font-weight:600;
	padding:5px 8px 5px 42px;
	margin:-1px 0px 0px 3px;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
	webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
}
 
#object_my .header .img.beds{
	background: url(../images/bed_small.png) no-repeat 6px 4px #f8f8f8;
}

#object_my .header .img.beach{
	background: url(../images/beach_small.png) no-repeat 6px 4px #f8f8f8;
}




/*			 	  CONTENT				*/

#object_my .content{
	padding:3px 3px 0px 3px;
	height:151px;
}


/*			   CONTENT LEFT				*/

#object_my .content .left{
	float:left;
	width:523px;
	height:148px;
}

#object_my .content .left .photos{
	float:left;
	height:148px;
}

#object_my .content .left .photos .photo{
	position:absolute;
	top:38px;
	left:3px;
	width:205px;
	height:148px;
	display:none;
	background-color:#808892;
}

#object_my .content .left .photos .photo.active{
	display:inline;
}

#object_my .content .left .photos .side_photo{
	float:left;
	width:50px;
	height:28px;
	margin:0px 0px 2px 207px;
    opacity:.4;
	background-color:#808892;
}

#object_my .content .left .photos .side_photo.active{
    opacity:1;
}

#object_my .content .left .accommodation{
	float:right;
	width:255px;
	height:88px;
	overflow-y:auto;
	overflow-x:hidden;
}

#object_my .content .left .accommodation .text{
	line-height:22px;
	height:22px;
	font-size:14px;
	padding:0px 0px 0px 3px;
	color:#666666;
	cursor:pointer;
}
#object_my .content .left .accommodation .text span{
	font-weight:600;
}
#object_my .content .left .accommodation .text:hover{
	color:#ffffff;
	background-color:#64c558;
}

#object_my .content .left .accommodation .text .options{
	float:right;
	margin-right:5px;
	color:#64c558;
	text-decoration:underline;
	cursor:pointer;
	font-size:12px;
}
#object_my .content .left .accommodation .text:hover .options{
	color:#ffffff;
}

#object_my .content .left .left_price{
	float: right;
	color:#666;
	text-align:right;
	width:255px;
	margin:7px 0px 8px 0px;
}
#object_my .content .left .left_price span{
	color: #64c558;
	font-size: 18px;
	line-height:18px;
	font-weight: 600;
	margin: 0px 5px 0px 2px;
}
	
#object_my .more_button{
	float:right;
	margin:0px 0px 0px 3px;
	font-size:14px;
	padding:2px 12px 3px 12px;
	text-decoration:none;
	background-color:#ffffff;
	border:1px solid #64c558;
	color:#64c558;
	text-decoration:none;
	cursor:pointer;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#object_my .more_button:hover{
	background-color:#64c558;
	border:1px solid #64c558;
	color:#ffffff;
}







/* ------------------------------------ */
/*			    OBJECT MAP				*/
/* ------------------------------------ */

#object_map{
	position:relative;
	width:430px;
	height:186px;
	background:#ffffff;
}


/*			 	 HEADER					*/

#object_map .header{
	position:relative;
	top:2px;
	margin:0px 0px 3px 0px;
	height:26px;
	padding:3px;
}

#object_map .header .name{
	float:left;
	color:#444444;
	font-size:20px;
	line-height:26px;
	height:26px;
	font-weight:600;
	margin-left:3px;
	width:370px;
	overflow:hidden;
}

#object_map .header .img{
	float:right;
	font-size:16px;
	text-height:18px;
	height:18px;
	color:#666666;
	font-weight:600;
	padding:5px 8px 5px 42px;
	margin:-1px 0px 0px 3px;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
	webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
}

#object_map .header .img.beds{
	background: url(../images/bed_small.png) no-repeat 6px 4px #f8f8f8;
}

#object_map .header .close{
	float:right;
	font-size:14px;
	height:28px;
	line-height:28px;
	text-align:center;
	width:25px;
	padding-left:20px;
	font-weight:600;
	color:#666666;
	cursor:pointer;
	margin:-1px 0px 0px 3px;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#object_map .header .close:hover{
	color:#de543e;
}

/*			 	  LEFT				*/

#object_map .left{
	float:left;
	width:257px;
	height:148px;
	margin-left:2px;
}

#object_map .left .photo{
	display:none;
	float:left;
	width:205px;
	height:148px;
	margin:0px 0px 2px 0px;
}

#object_map .left .photo.active{
	display:inline;
}

#object_map .left .side_photo{
	float:left;
	width:50px;
	height:28px;
	margin:0px 0px 2px 2px;
    opacity:.4;
}

#object_map .left .side_photo.active{
    opacity:1;
}



/*			 	RIGHT				*/

#object_map .right{
	float:right;
	width:150px;
	height:148px;
	margin-right:3px;
}

#object_map .right .accommodation{
	background-color:#ffffff;
	float:left;
	width:100%;
	height:88px;
	overflow-y:auto;
	overflow-x:hidden;
	text-align:left;
}

#object_map .right .accommodation .text{
	line-height:22px;
	height:22px;
	font-size:14px;
	padding:0px 0px 0px 3px;
	color:#666666;
	cursor:pointer;
}
#object_map .right .accommodation .text span{
	font-weight:600;
}
#object_map .right .accommodation .text:hover{
	color:#ffffff;
	background-color:#64c558;
}

#object_map .right .price{
	float: right;
	color:#666;
	text-align:right;
	width:180px;
	margin:7px 0px 8px 0px;
}

#object_map .right .price span{
	color: #64c558;
	font-size: 18px;
	line-height:18px;
	font-weight: 600;
	margin: 0px 5px 0px 2px;
}

#object_map .right .more_button{
	float:right;
	margin:0px 0px 0px 0px;
	font-size:14px;
	padding:2px 12px 3px 12px;
	text-decoration:none;
	background-color:#ffffff;
	border:1px solid #64c558;
	color:#64c558;
	text-decoration:none;
	cursor:pointer;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#object_map .right .more_button:hover{
	background-color:#64c558;
	border:1px solid #64c558;
	color:#ffffff;
}

