/*		 		  TEASERS				*/
/*		 	   CROATIA MAPS				*/
/*		 	 LOCATION SIDEBAR			*/
/*		 	    MAP SIDEBAR				*/




/* ------------------------------------ */
/*		 	   CROATIA MAPS				*/
/* ------------------------------------ */

#map_croatia{
	position:relative;
	float:right;
	width:968px;
	min-height:318px;
	background:url(../images/loading.gif) center center no-repeat;
}
#map_croatia.raphael{
	width:440px;
}
#map_croatia .map_loading{
	display:none;
	position:absolute;
	width:970px;
	height:1793px;
	background:none repeat scroll 0% 0% rgba(255, 255, 255, 0.8);
	z-index:300;
}

#map_croatia #map{
	position:absolute;
	width:968px;
	height:318px;
	background:url(../images/croatia_map.jpg) no-repeat;
	z-index:1;
	padding-left:10px;
}
#map_croatia #map.index{
	width:440px;
}



/* ------------------------------------ */
/*		 	     MAP LEFT				*/
/* ------------------------------------ */ 

#map_left{
	position:relative;
	float:left;
	top:20px;
	width:145px;
}

#map_left .location{
	position:relative;
	width:135;
	padding-left:10px;
	color:#444444;
	line-height:28px;
	font-size:14px;
	text-decoration:none;
	cursor:pointer;
	text-align:left;
	background:#ffffff;
	z-index:2;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#map_left .location:hover{
	color:#64c558;
}


/* ------------------------------------ */
/*		 		 TEASERS				*/
/* ------------------------------------ */

#teasers{
	overflow:visible !important;
}
 
#teasers .roundteaser{
	position:relative;
	display:block;
	width:100%;
	height:100%;
	z-index:0;
}

#teasers .roundteaser #map_canvas{
	position:relative;
	width:969px;
	height:620px;
}

#zagreb, #sredisnjahr, #slavonija, #lika, #istra, #sdalmacija, #jdalmacija{
    display:none;
}        

/* ------------------------------------ */
/*		 	    MAP SIDEBAR				*/
/* ------------------------------------ */

#sidebar{
	position:relative;
	float:left;
	background:#ffffff;
	padding:10px;
	overflow:visible; 
	z-index:10;
}
#sidebar.accommodation{
	display:none;
}

#sidebar .header{
    text-align:left;
    text-transform:uppercase;
	font-size:30px;
    height:30px;
	line-height:30px;
    margin-bottom:5px;
    font-weight:800;
	color:#444444;
}
#sidebar .header.main{
	padding-left:10px;
}

#sidebar_in{
	width:211px;
	padding:10px 0px;
    overflow:auto;
	position:relative;
    right:0;
    top:0;
	overflow:visible;
}

#sidebar_in ul{
	margin:0px 0px 0px 10px;
}

#sidebar_in ul li{
	margin:0px 0px 0px 0px;
	color:#666666;
}
#sidebar_in ul li.header{
	margin:5px 0px 4px 0px;
	font-size:14px;
	font-weight:600;
}
#sidebar_in ul li.list{
	list-style-type:circle;
	margin:10px 0px 0px 15px;
}
