/* ------------------------------------ */
/*				NAVIGATION				*/
/* ------------------------------------ */

.top_nav{
	position:absolute;
	top:0;
	width:100%;
	height:33px;
	background:#64c558;
}

.top_bg{
	position:absolute;
	width:100%;
	top:33px;
	background:#ffffff;
	height:117px;
	z-index:8;
	-webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
}
.top_bg .border{
	position:absolute;
	width:100%;
	height:5px;
}



/* ------------------------------------ */
/*		  PHONE & E-MAIL & TIME			*/
/* ------------------------------------ */

.time{
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-600px;
	height:33px;
	line-height:33px; 
	color:#ffffff;
	font-size:13px;
	padding-left:23px;
	background:url(../images/phone_mail_clock.png) no-repeat 0px -66px;
	z-index:120;
}

.phone{ 
	position:absolute;
	display:none;
	top:0px;
	left:50%;
	margin-left:-426px;
	height:33px;
	line-height:33px;
	color:#ffffff;
	font-size:13px;
	padding-left:20px;
	background:url(../images/phone_mail_clock.png) no-repeat 0px 0px;
	z-index:120;
}

.mail{
	position:absolute;
	top:0px;
	left:50%;
	/*margin-left:-270px;*/
	margin-left:-426px;
	height:33px;
	line-height:33px; 
	color:#ffffff;
	font-size:13px;
	padding-left:23px;
	background:url(../images/phone_mail_clock.png) no-repeat 0px -33px;
	z-index:120;
}



/* ------------------------------------ */
/*	   LOGIN/REGISTER USER DROPDOWN 	*/
/* ------------------------------------ */

#login_register_dropdown, #user_dropdown{
	position:absolute;
	top:0px;
	right:50%;
	margin-right:-452px;
	height:33px;
	color:#ffffff;
	text-decoration:none;
	line-height:33px;
	padding:0 20px 0 20px;
	cursor:pointer;
	z-index:125;
	font-size:13px;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#login_register_dropdown:hover, #user_dropdown:hover{
	background-color:#ffffff;
	color:#64c558;
	box-shadow:0px -3px 3px rgba(0, 0, 0, 0.5);
}

#login_register_dropdown a, #user_dropdown a{
	color:#64c558;
	text-decoration:none;
}

#login_register_dropdown.active, #user_dropdown.active{
	background-color:#ffffff;
	color:#64c558;
	height:33px;
	box-shadow:0px -3px 3px rgba(0, 0, 0, 0.5);
}

#login_register_dropdown .dropdown{
	width:auto;
	height:auto;
	padding:10px 8px 15px 8px; 
	background-color:#ffffff;
	color:#444444;
	position:absolute;
	right:0px;
	top:33px;
	display:none;
	z-index:130;
	cursor:default;
	border-top:none;
	box-shadow:0px 3px 2px rgba(0, 0, 0, 0.3);
}

#user_dropdown .dropdown{
	min-width:120px;
	height:auto;
	padding:5px 0px;
	background-color:#ffffff;
	color:#444444;
	position:absolute;
	right:0px;
	top:33px;
	display:none;
	z-index:130;
	box-shadow:0px 3px 2px rgba(0, 0, 0, 0.3);
}

#login_register_dropdown .dropdown a{
	font-size:12px;
}

#login_register_dropdown .dropdown a:hover{
	text-decoration:underline;
}

#login_register_dropdown p{
	font-size:13px;
}

#user_dropdown .dropdown a{
	padding:0px 20px;
	display:block;
	color:#444444;
	text-decoration:none;
	line-height:25px;
}

#user_dropdown .dropdown a:hover{
	background-color:#64c558;
	color:#ffffff;
}

#user_dropdown .dropdown a.user{
}

.user_border{
	margin:5px 0px;
	border-bottom:1px solid #dce1e6;
}

.login_register_border{
	margin:5px -8px;
	border-bottom:1px solid #dce1e6;
}


/* ------------------------------------ */
/*			LANGUAGE DROPDOWN			*/
/* ------------------------------------ */

#lang_dropdown{
	position:absolute;
	top:0px;
	right:50%;
	margin-right:-580px;
	width:85px;
	background:url(../images/flags.png) 70px 7px  no-repeat;
	color:#ffffff;
	text-decoration:none;
	line-height:33px;
	height:33px;
	padding:0 20px;
	cursor:pointer;
	z-index:125;
	font-size:13px;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#lang_dropdown:hover{
	background-color:#ffffff;
	color:#64c558;
	background-position:20px 7px;
	box-shadow:0px -3px 3px rgba(0, 0, 0, 0.5);
}

#lang_dropdown.active{
	background-color:#ffffff;
	background-position:20px 7px;
	color:#64c558;
	box-shadow:0px -3px 3px rgba(0, 0, 0, 0.5);
}

#lang_dropdown .dropdown{
	width:125px;
	height:auto;
	padding:5px 0px;
	background-color:#ffffff;
	position:absolute;
	right:0px;
	top:33px;
	display:none;
	z-index:130;
	border-top:none;
	box-shadow:0px 3px 2px rgba(0, 0, 0, 0.3);
}

#lang_dropdown .dropdown a{
	background:url(../images/flags.png) no-repeat;
	display:block;
	color:#444444;
	text-decoration:none;
	margin:0;
	padding:0 20px 0 20px;
	line-height:25px;
}

#lang_dropdown .dropdown a:hover{
	background-color:#64c558;
	color:#ffffff;
}

#lang_dropdown .dropdown a.hr{
	background-position:63px -191px;
}

#lang_dropdown .dropdown a.en{
	background-position:63px -287px;
}

#lang_dropdown .dropdown a.de{
	background-position:75px -23px;
}



/* ------------------------------------ */
/*	   		  CLOSE DROPDOWN 			*/
/* ------------------------------------ */

#close_dropdown{
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:120;
} 



/* ------------------------------------ */
/*			 	  LOGO					*/
/* ------------------------------------ */

#logo{
	position:absolute; 
	top:33px;
	left:50%; 
	margin-left:-560px;
	width:320px;
	height:80px;
	padding:18px 0px 19px 0px;
	display:block;
	background:url(../images/logo.png) no-repeat center;
	z-index:120;
}



/* ------------------------------------ */
/*				NAVIGATION				*/
/* ------------------------------------ */

ul#nav{
	height:40px;
	position:absolute;
	right:50%; 
	margin-right:-560px;
	top:72px;
	z-index:120;
}

ul#nav li{
	float:left;
}

ul#nav li a{
	text-decoration:none;
}

ul#nav li.first a.mainlink{
	border-left:none;
}

ul#nav li.last a.mainlink{
	border-right:none;
}

ul#nav li a.mainlink{
	display:block;
	color:#444444;
	text-transform:uppercase;
	text-decoration:none;
	font-size:18px;
	font-weight:600;
	padding:0 25px;
	border-right:1px dotted #dce1e6;
	cursor:pointer;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
ul#nav li a.mainlink.number{
	font-size:12px;
	font-weight:300;
	color:#444444;
	float:right;
}
ul#nav li:hover a.mainlink{
	color:#64c558;
}



/* ------------------------------------ */
/*				  FOOTER				*/
/* ------------------------------------ */

#footer{
	width:100%;
	float:left;
	z-index:10;
	color:#ffffff;
	margin-top:25px;
	padding-top:20px; 
	font-size:14px;
	background:#64c558;
	-webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
}
#footer a{
	color:#ffffff;
	cursor:pointer;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;	
	line-height:28px;
}
#footer a:hover{
	text-decoration:underline;
}

#footer .limiter{
	width:1200px;
	margin:0 auto;
	padding:0 10px 0 10px;
	position:relative;
	display:block;
}

#footer .footerline{
	clear:left;
	overflow:hidden;
}

#footer .footerline.first{
	border-top:none;
}

#footer .footerline.last{
	border-bottom:none;
	margin-bottom:20px;
}

#footer .footerline .title{
	width:145px;
	margin-right:35px;
	font-weight:600;
	float:left;
	line-height:28px;
}

#footer .footerline ul{
	list-style-type:none;
	padding:0;
	margin:0;
}

#footer .footerline ul li{
	float:left;
	margin:0 20px 0 0;
}

#footer .footerline ul li a{
}

#footer .closingline{
	float:left;
}

#footer .closingline .text{
	float:left;
	line-height:28px;
	margin:0 10px 0 0;
}

#footer .closingline ul{
	list-style-type:none;
	padding:0;
	margin:0;
	float:left;
}

#footer .closingline ul li{
	float:left;
	margin:0 10px 0 0;
}

#footer .closingline ul li span{
	display:inline-block;
	margin:0 10px 0 0;
}

#footer .to_top{
	position:absolute;
	width:40px;
	height:40px;
	right:0px;
	top:-43px;
	cursor:pointer;
	border:3px solid #ffffff;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	border-radius:40px;
	background:#ffffff;
	-webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
}

#footer .to_top .arrow_up{
	position:absolute;
	width:40px;
	height:40px;
	background:url(../images/arrow_up.png) 0px 3px no-repeat #ffffff;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	border-radius:40px;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
	box-shadow:0px 0px 15px rgba(255, 255, 255, 1) inset;
}
#footer .to_top .arrow_up:hover{
	background-position:0px -26px;
}

#footer .to_top .hide_shadow{
	position:absolute;
	width:60px;
	height:30px;
	top:-10px;
	left:-10px;
	background:#ffffff;
}
