/*		 	   CONTENT AREA				*/
/*		 	   CENTRAL AREA				*/
/*		 	     LEFT AREA				*/
/*		 	   	RIGHT AREA				*/



/* ------------------------------------ */
/*		 	   CONTENT AREA				*/
/* ------------------------------------ */

#content_area{
	margin:0px auto;
	padding:25px 0px;
	width:1200px;
	min-height:400px;
}

#content_area .full{
	float:left; 
	margin:25px 0px;
	width:100%;
}

#content_area .half{
	margin:25px 0px 25px 0px;
}
#content_area .half.left{
	float:left;
	margin-left:35px;
	width:590px;
}
#content_area .half.right{
	float:right;
	width:450px;
	margin-right:35px;
}


#content_area .twothirds{
	margin:0px 0px 25px 0px;
	width:710px;
}
#content_area .twothirds.left{
	float:left;
}
#content_area .twothirds.right{
	float:right;
}
#content_area .twothirds.striped{
	background:url(../images/striped_lens.png);
	border:1px solid #dce1e6;
	padding:20px;
}
#content_area .twothirds span{
	text-height:24px;
}


.content_area_header{
    text-align:center;
    text-transform:uppercase;
	font-size:30px;
	line-height:30px;
	padding:0px 0px 5px 0px;
    font-weight:800;
	color:#444444;
}
.content_area_header.under{
	font-size:20px;
	padding:0px 0px 10px 0px;
    font-weight:400;
}
.content_area_header.left{
    text-align:left;
}
.content_area_header.small{
	font-size:20px;
	line-height:20px;
	font-weight:600;
    text-transform:none;
}



/* ------------------------------------ */
/*		 	  SPECIAL OFFERS			*/
/* ------------------------------------ */

.close_bg{
	position:fixed;
	display:none;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color: rgba(255, 255, 255, .7);
	z-index:200;
}



/* ------------------------------------ */
/*		 	  SPECIAL OFFERS			*/
/* ------------------------------------ */

#special_offers{
	position:relative;
	width:100%;
	z-index:10;
	overflow:hidden;
	margin-top:10px;
}

#special_offers .arrow{
	position:absolute;
	width:30px;
	height:430px;
	top:0px;
	z-index:10;
	cursor:pointer;
}
#special_offers .arrow:hover{
	-webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
    -ms-transition:all 0.5s;
    -o-transition:all 0.5s;
    transition:all 0.5s;
}
#special_offers .arrow.left{
	left:0px;
	background:url(../images/arrow_left.png) 0px 100px no-repeat #ffffff;
	box-shadow:#ffffff 3px 0px 6px;
}
#special_offers .arrow.left:hover{
	background-position:-40px 100px;
}
#special_offers .arrow.right{
	right:0px;
	background:url(../images/arrow_right.png) -30px 100px no-repeat #ffffff;
	box-shadow:#ffffff -3px 0px 6px;
}
#special_offers .arrow.right:hover{
	background-position:10px 100px;
}

#special_offers .slide{
	position:relative;
	width:5000px;
	height:430px;
	z-index:9;
}

#special_offers .slide .full{
	float:left;
	width:347px;
	height:430px;
	margin:0px 0px 0px 40px;
	text-align:center;
}

#special_offers .slide .full .img{
	position:relative;
	width:347px;
	height:250px;
	margin-bottom:8px;
	background:#dce1e6;
	overflow:hidden;
}

#special_offers .slide .full .img .price{
	position:absolute;
	bottom:5px;
	right:5px;
	color:#ffffff;
	padding:10px 15px;
	font-size:18px;
	text-transform:uppercase;
	background-color:#64c558;
	font-weight:600;
}

#special_offers .slide .full .img .white_hover{
	position:absolute;
	top:0px;
	width:347px;
	height:250px;
	z-index:10;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
	background:transparent;
}
#special_offers .slide .full .img .white_hover:hover{
	background:none repeat scroll 0% 0% rgba(255, 255, 255, 0.8);
}

#special_offers .slide .full .img .white_hover .object_link{
	opacity:0;
	position:absolute;
	width:60px;
	height:60px;
	top:50%;
	left:50%;
	margin:-60px 0px 0px -30px;
	background:url(../images/object_link.png);
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#special_offers .slide .full .img .white_hover:hover .object_link{
	opacity:0.8;
	margin:-30px 0px 0px -30px;
}




#special_offers .slide .full .name{
	text-transform:uppercase;
	font-weight:800;
	font-size:22px;
	line-height:30px;
	height:30px;
	overflow:hidden;
	margin:20px 0px 10px 0px;
	text-align:center;
	color:#444444;
}

#special_offers .slide .full .under_name_border{
	border-top:3px solid #dce1e6;
	width:140px;
	margin:15px auto;
}

#special_offers .slide .full .text{
	color:#444444;
	width:100%;
	font-size:16px;
	line-height:28px;
	padding-right:0px;
}
#special_offers .slide .full .text span{
	font-weight:600;
}



/* ------------------------------------ */
/* ------------------------------------ */
/*		 	   ACCOMMODATION 			*/
/* ------------------------------------ */
/* ------------------------------------ */

.accommodation_full{
	position:relative;
	float:left;
	width:1200px;
	margin-bottom:30px;
	cursor:auto;
}

.accommodation_full a{
	text-decoration:none;
}

.accommodation_full .title{
	float:left;
	text-align:left;
	width:100%;
	color:#444444;
	font-size:40px;
	line-height:40px;
	padding-bottom:7px;
	font-weight:800;
}

.accommodation_full .title span{
	margin-left:8px;
	font-size:14px;
	line-height:14px;
	color:#444444;
}

.accommodation_full .path{
	float:left;
	text-align:left;
	width:100%;
	padding-bottom:14px;
}

.accommodation_full .path a{
	float:left;
	color:#64c558;
    font-size:15px;
	line-height:15px;
}

.accommodation_full .path span{
	float:left;
	margin:0px 2px;
	color:#444444;
	font-size:15px;
	line-height:15px;
}

.accommodation_full .path .location{
	float:right;
	color:#64c558;
	padding-left:37px;
	margin:-8px 0px -9px 0px;
    font-size:15px;
	line-height:32px;
	background:url(../images/location.png) left no-repeat;
}
.accommodation_full .path .location:hover{
	text-decoration:underline;
	cursor:pointer;
}

.accommodation_full .icons_wrap{
	position:absolute;
	right:0px;
	padding-bottom:18px;
}

.accommodation_full .icons_wrap .icon{
	float:left;
	height:60px;
	width:57px;
	margin:0px 0px 0px 10px;
	font-size:14px;
	line-height:14px;
	text-align:center;
}

.accommodation_full .icons_wrap .icon.bed{
	background:url(../images/bed.png) no-repeat #fff;
}

.accommodation_full .icons_wrap .icon.center{
	background:url(../images/center.png) no-repeat #fff;
}

.accommodation_full .icons_wrap .icon.beach{
	background:url(../images/beach.png) no-repeat #fff;
}

.accommodation_full .icons_wrap .icon .text{
	font-weight:600;
	color:#444444;
	margin-top:43px;
}

.accommodation_full .photos{
	position:relative;
	float:left;
	width:500px;
	height:438px;
	padding:8px;
	margin-bottom:35px;
	text-align:center;
	color:#ffffff;
	background-color:#ffffff;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
}

.accommodation_full .object_info{
	display:none;
	position:relative;
	float:left;
	width:820px;
	padding:10px 10px 0px 10px;
	border-bottom:10px solid #fff;
	height:77px;
	margin-bottom:15px;
	background-color:#fff;
	overflow:hidden;
	color:#444444;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.accommodation_full .object_info.extend{
	width:820px;
	height:auto;
	padding:10px 10px 7px 10px;
}

.accommodation_full .object_info p{
	margin-bottom:16px;
}

.accommodation_full .object_info .read{
	position:absolute;
	bottom:0px;
	color:#64c558;
	background-color:#fff;
	text-align:center;
	width:820px;
	padding:5px 0px 0px 0px;
}
.accommodation_full .object_info .read:hover{
	cursor:pointer;
	text-decoration:underline;
}
.accommodation_full .object_info .read.less{
	padding:5px 0px 0px 0px;
	display:none;
}


/*		 	   	INFORMATION 			*/

.accommodation_full .information{
	position:relative;
	width:615px;
	float:right;
	margin:0px 0px 10px 25px;
} 

.accommodation_full .information .information_text{
	font-size:14px;
	float:left;
	width:594px;
	text-align:left;
	padding:5px; 
	color:#444444;
	margin:0px 0px 0px 5px;
}
.accommodation_full .information .information_text.header{
	font-weight:600;
	font-size:18px;
	border-bottom:1px dotted #dce1e6;
}
.accommodation_full .information .information_text span{
	font-weight:600;
}

.accommodation_full .information .sidemap_hide{
	float:left;
	width:605px;
	height:250px;
	background-color:#e5e3df;
	cursor:pointer;
	overflow:hidden;
	margin:10px 5px;
} 
.accommodation_full .information .sidemap_hide #sidemap{
	float:left;
	width:705px;
	height:350px;
	margin:-50px;
} 



/*		   	  ACCOMMODATION				*/

.accommodation_full .accommodation{
	position:relative;
	float:left;
	margin-top:5px;
	width:100%;
}

.accommodation_full .accommodation .information_menu_tab{
	position:relative;
	margin-left:10px;
	float:left;
	text-align:center;
	cursor:pointer;
	padding:15px;
	color:#444444;
	z-index:7;
	background:#ffffff;
	-webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
	border:1px solid #dce1e6;
	margin-bottom:-1px;
}
.accommodation_full .accommodation .information_menu_tab span{
	font-weight:600;
}
.accommodation_full .accommodation .information_menu_tab.active{
	color:#64c558;
	z-index:20;
}
.accommodation_full .accommodation .information_menu_tab.active .hide_shadow{
	position:absolute;
	left:0px;
	bottom:-5px;
	height:5px;
	width:100%;
	background:#ffffff;
}
.accommodation_full .accommodation .information_menu_tab:hover{
	color:#64c558;
}



/*************  INFORMATION MENU  ****************/

.accommodation_full .accommodation .information_menu{
	display:none;
	position:relative;
	padding:12px 2px 22px 2px;
	color:#444444; 
	cursor:default;
	background:#ffffff;
	z-index:5;
}

.accommodation_full .accommodation .information_menu.active{
	display:block;
	position:relative;
	float:left;
	left:0px;
	width:1194px;
	z-index:10;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
	border:1px solid #dce1e6;
}

.accommodation_full .accommodation .information_menu .information_menu_left{
	float:left;
	width:811px;
	padding-right:25px;
}

.accommodation_full .accommodation .information_menu .information_menu_left .header{
	float:left;
	width:780px;
	text-align:left;
	color:#444444;
	font-weight:600;
	font-size:16px;
	padding:0px 0px 10px 10px;
	margin:20px 0px 0px 20px;
	border-bottom:1px dotted #dce1e6;
}
.accommodation_full .accommodation .information_menu .information_menu_left .header.main{
	font-size:24px;
	line-height:24px;
	color:#64c558;
}

.accommodation_full .accommodation .information_menu .information_menu_left .column{
	position:relative;
	margin:0px 0px 0px 20px;
	float:left;
}
.accommodation_full .accommodation .information_menu .information_menu_left .column span{
	font-weight:600;
}

.accommodation_full .accommodation .information_menu .information_menu_left .column .text{
	float:left;
	text-align:left;
	color:#444444;
	text-shadow: none;
}

.accommodation_full .accommodation .information_menu .information_menu_left .column ul{
	float:left;
	text-align:left;
	color:#444444;
	text-shadow: none;
	font-weight:normal;
	margin:5px 0px 0px 0px;
	padding-bottom:10px;
	min-width:249px;
	overflow:auto;
	max-height:490px;
}
.accommodation_full .accommodation .information_menu .information_menu_left .column ul.main{
	min-width:100px;
}

.accommodation_full .accommodation .information_menu .information_menu_left .column ul li{
	font-size:14px;
	margin:10px 20px 0px 20px;
	color:#444444;
	text-shadow: none;
	font-weight:normal;
}

.accommodation_full .accommodation .information_menu .information_menu_left .column ul li.short{
	min-width:184px;
	padding-left:25px;
}
.accommodation_full .accommodation .information_menu .information_menu_left .column ul li.short .header{
	float:left;
	font-weight:normal;
	width:100%;
	font-size:14px;
	margin:-10px -20px 10px -20px;
	padding:10px 20px 10px 20px;
	border-bottom:1px dotted #dce1e6;
}

.accommodation_full .accommodation .information_menu .information_menu_left .column ul li.long{
	width:305px;
}
.accommodation_full .accommodation .information_menu .information_menu_left .column ul li.long .header{
	float:left;
	font-weight:normal;
	width:100%;
	font-size:14px;
	margin:-10px -10px 10px -10px;
	padding:10px 10px 10px 10px;
	border-bottom:1px dotted #dce1e6;
}
.accommodation_full .accommodation .information_menu .information_menu_left .column ul li.long .pre{
 	font-family:'Open Sans', sans-serif;
	width:295px;
	float:left;
}

.accommodation_full .accommodation .information_menu .information_menu_left .column ul li.huge{
	width:385px;
}
.accommodation_full .accommodation .information_menu .information_menu_left .column ul li.huge .header{
	float:left;
	font-weight:normal;
	width:100%;
	font-size:14px;
	margin:-10px -10px 10px -10px;
	padding:10px 10px 10px 10px;
	border-bottom:1px dotted #dce1e6;
}

.accommodation_full .accommodation .information_menu .information_menu_left .column ul li#true{
	background:url(../images/check.png) no-repeat left;
}

.accommodation_full .accommodation .information_menu .information_menu_left .column ul li#false{
	background:url(../images/delete.png) no-repeat left;
}

/*	    	 CALENDAR & FULL TEXT	 		*/
#full{
	float:left;
	margin:5px 0px 0px 20px;
	width:791px;
	height:696px;
	border:1px solid #ffffff;
}

#full.wide{
	position:absolute;
	left:-788px;
	margin:0px;
	width:4728px;
	height:170px;
	border:none;
} 

#full .text{
	float:left;
	text-align:left;
	padding:10px 0px 0px 20px;
	width:771px;
	height:480px;
	overflow-x:hidden;
	overflow-y:auto;
}

#full .month{
	float:left;
	width:182px;
	height:203px;
	margin:8px 7px 7px 8px;
}

#full .month .name{
	float:left;
	width:100%;
	text-align:center;
	color:#444444;
	font-size:14px;
	font-weight:600;
	margin:5px 0px;
}

#full .month .day{
	float:left;
	width:22px;
	height:21px;
	text-align:center;
	border:1px solid #ffffff;
	margin:1px;
	font-size:12px;
	line-height:21px;
} 

#full .month .day.name{
	font-weight:600;
	width:22px;
	color:#ffffff;
	text-align:center;
	padding:0px;
	border:1px solid #64c558;
	background-color:#64c558;
}

#full .month .day.free{
	color:#444444;	
	border:1px solid #dce1e6;
}

#full .month .day.busy{
	color:#ffffff;	
	border:1px solid #de543e;
	background-color:#de543e;
}

#full .month .day.book{
	color:#646800;
	border:1px solid #646800;
	background-color:#feffbd;
}

#full .legend{
	float:left;
	color:#444444;
	font-size:14px;
	line-height:19px;
	margin:7px 10px 0px 5px;
}

#full .legend .day.busy{
	float:left;
	width:19px;
	height:19px;
	border:1px solid #de543e;
	background-color:#de543e;
	margin-right:8px;
}

#full .legend .day.book{
	float:left;
	width:19px;
	height:19px;
	border:1px solid #ded53e;
	background-color:#ded53e;
	margin-right:8px;
}

/*	    		PRICE LIST				*/
#price_list{
	float:left;
	width:100%;
	text-align:center;
}

#price_list .left{
	float:left;
	width:100px;
	margin-bottom:5px;
}
#price_list .left.top{
	margin-bottom:0px;
}

#price_list .center{
	float:left;
	width:99px;
	margin-bottom:5px;
}
#price_list .center.top{
	margin-bottom:0px;
}

#price_list .right{
	float:left;
	width:183px;
	margin-bottom:5px;
}
#price_list .right.top{
	margin-bottom:0px;
}

#price_list .right .nop{
	float:left;
	min-width:61px; 
	margin-top:0px;
}




/*************  BOOKING  ****************/

.booking_out{
	float:left;
	position:relative;
	width:1200px;
}

.booking_out .booking{
	position:absolute;
	top:60px;
	right:0px;
	width:220px;
	padding:40px;
	text-align:center;
	color:#ffffff;
	background:#64c558;
	-webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
	margin:30px 40px 0px 0px;
	z-index:100;
}

.booking_out .booking .price{
	width:218px;
	border:1px dotted #ffffff;
	text-align:center;
	font-size:24px;
	padding:40px 0px;
	font-weight:bolder;
	margin:0px auto;
}
.booking_out .booking .price span{
	font-size:40px;
	font-weight:600;
	color:#ffffff;
}

.booking_out .booking .price_top{
	position:relative;
	display:inline-block;
	font-size:18px;
	padding:0px 20px;
	font-weight:300;
	background:#64c558;
	margin-bottom:-7px;
}
.accommodation_full .accommodation .information_menu .contact_text{
	float:left;
	position:relative;
	width:260px;
	padding:10px;
	font-size:16px;
}
.accommodation_full .accommodation .information_menu .contact_text.header{
	font-weight:600;
	font-size:20px;
	border-bottom:1px dotted #dce1e6;
}
.accommodation_full .accommodation .information_menu .contact_text.info{
	padding:20px 0px;
	border-bottom:1px dotted #dce1e6;
}

.accommodation_full .accommodation .information_menu .contact_text .icon{
	float:left;
	margin-left:10px;
	margin-top:2px;
	height:35px;
	width:35px;
	border-radius:35px;
	border:1px solid #666666;
}
.accommodation_full .accommodation .information_menu .contact_text .icon.contact_phone{
	background:url(../images/contact.jpg) no-repeat 9px 10px #ffffff;
}
.accommodation_full .accommodation .information_menu .contact_text .icon.contact_mail{
	background:url(../images/contact.jpg) no-repeat 9px -17px #ffffff;
}
.accommodation_full .accommodation .information_menu .contact_text .icon.contact_clock{
	background:url(../images/contact.jpg) no-repeat 9px -44px #ffffff;
}

.accommodation_full .accommodation .information_menu .contact_text .text{
	float:right;
	width:200px;
}
.accommodation_full .accommodation .information_menu .contact_text .text.header{
	color:#999999;
	margin-bottom:5px;
}


.booking_out .booking .price_bottom{
	position:relative;
	display:inline-block;
	font-size:18px;
	padding:0px 20px;
	font-weight:300;
	background:#64c558;
	margin-top:-11px;
	margin-bottom:15px;
}

.booking_out .booking .booking_in_text{
	margin-top:20px;
	font-size:16px;
	text-align:left;
}
.booking_out .booking .booking_in_text.header{
	font-size:18px;
	font-weight:600;
	text-transform:uppercase;
	margin-top:40px;
}

.booking_out .booking .booking_in{
	margin-top:10px;
	height:32px;
}

.booking_out .booking .booking_button{
	border: 2px solid #ffffff;
	color:#ffffff;
	background-color:#64c558;
	height:40px;
	margin:35px auto 0px auto;
	line-height:40px;
	font-size:16px;
	font-weight:300;
	text-decoration:none;
	cursor:pointer;
	text-align:center;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
} 
.booking_out .booking .booking_button:hover{
	color:#64c558;
	background-color:#ffffff;
}

.booking .contact_text{
	position:relative;
	width:200px;
	padding:10px 10px 0px 10px;
	font-size:16px;
}
.booking .contact_text .icon{
	float:left;
	margin-left:0px;
	margin-top:2px;
	height:35px;
	width:35px;
	border-radius:35px;
	border:1px solid #ffffff;
}
.booking .icon.contact_phone{
	background:url(../images/contact.jpg) no-repeat 9px 10px #ffffff;
}
.booking .contact_text .text{
	margin-left:50px;
	text-align:left;
	width:160px;
}
.booking .contact_text .text.header{
	margin-bottom:5px;
}






/*************  CONTACT ACCOMMODATION ****************/

.accommodation_full .accommodation .information_menu .contact{
	display:none;
	float:right;
	position:relative;
	width:280px;
	margin:750px 50px 0px 0px;
}

.accommodation_full .accommodation .information_menu .contact_text{
	float:left;
	position:relative;
	width:260px;
	padding:10px;
	font-size:16px;
}
.accommodation_full .accommodation .information_menu .contact_text.header{
	font-weight:600;
	font-size:20px;
	border-bottom:1px dotted #dce1e6;
}
.accommodation_full .accommodation .information_menu .contact_text.info{
	padding:20px 0px;
	border-bottom:1px dotted #dce1e6;
}

.accommodation_full .accommodation .information_menu .contact_text .icon{
	float:left;
	margin-left:10px;
	margin-top:2px;
	height:35px;
	width:35px;
	border-radius:35px;
	border:1px solid #666666;
}
.accommodation_full .accommodation .information_menu .contact_text .icon.contact_phone{
	background:url(../images/contact.jpg) no-repeat 9px 10px #ffffff;
}
.accommodation_full .accommodation .information_menu .contact_text .icon.contact_mail{
	background:url(../images/contact.jpg) no-repeat 9px -17px #ffffff;
}
.accommodation_full .accommodation .information_menu .contact_text .icon.contact_clock{
	background:url(../images/contact.jpg) no-repeat 9px -44px #ffffff;
}

.accommodation_full .accommodation .information_menu .contact_text .text{
	float:right;
	width:200px;
}
.accommodation_full .accommodation .information_menu .contact_text .text.header{
	color:#999999;
	margin-bottom:5px;
}




/*************  CONTACT INDEX  ****************/

.half.right .contact{
	float:right;
	width:325px;
	padding:0px 50px;
}

.half.right .contact_text{
	float:left;
	position:relative;
	width:325px;
	padding:0px 0px 30px 0px;
	font-size:16px;
}

.half.right .contact_text .icon{
	float:left;
	margin-left:10px;
	margin-top:2px;
	height:35px;
	width:35px;
	border-radius:35px;
	border:1px solid #666666;
}
.half.right .contact_text .icon.contact_phone{
	background:url(../images/contact.jpg) no-repeat 9px 10px #ffffff;
}
.half.right .contact_text .icon.contact_mail{
	background:url(../images/contact.jpg) no-repeat 9px -17px #ffffff;
}
.half.right .contact_text .icon.contact_clock{
	background:url(../images/contact.jpg) no-repeat 9px -44px #ffffff;
}

.half.right .contact_text .text{
	float:left;
	width:255px;
	margin-left:10px;
}
.half.right .contact_text .text.header{
	color:#999999;
	margin-bottom:5px;
}












/* ------------------------------------ */
/*		 	RESERVATION	FORMAL			*/
/* ------------------------------------ 

.reservation{
}

.reservation .reservation_text{
	font-size:14px;
	float:left;
	text-align:left;
	padding:0px 3px; 
	color:#444444;
	margin-right:20px;
	width:100%;
}
.reservation .input{
	padding:10px;
}


.reservation .reservation_price{
	width:706px;
	margin-top:40px;
	margin-bottom:5px;
	font-size:26px;
	float:left;
	font-weight:600;
	color:#64c558;
}
.reservation .reservation_price span{
	font-size:36px;
	font-weight:800;
}

.reservation .reservation_under_price{
	width: 706px;
	margin-top:10px;
	text-align:left;
	float:left;
	font-size:14px;
	border-top:none;
	color:#444444;
}
.reservation .reservation_under_price span{
	font-size:18px;
	font-weight:600;
}
.reservation .reservation_under_price a{
	font-weight:600;
}



/*		  	 	RESERVATION				*/

.reservation{
	position:absolute;
	top:810px;
	left:50%;
	margin:0px 0px 0px -420px;
	width:840px;
	background:#fff;
	z-index:210;
	-webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
}

.reservation .reservation_title{
	width: 100%;
	color: #ffffff;
	display: block;
	font-size: 18px;
	font-weight: 600;
	padding: 10px 0px;
	text-align: left;
	float:left;
	background:#64c558;
}

.reservation .reservation_title a{
	margin-left:10px;
}

.reservation .reservation_name{
	width:450px;
	margin:15px 0px 0px 22px;
	float:left;
	text-align:left;
	font-size:36px;
	line-height:48px;
	height:48px;
	font-weight:600;
	color:#444444;
	overflow:hidden;
}

.reservation .reservation_left{
	width:213px; 
	margin:10px 0px 0px 19px;
	float:left;
}

.reservation .reservation_text{
	font-size:14px;
	float:left;
	text-align:left;
	padding:0px 3px; 
	color:#666666;
	margin-right:20px;
	width:100%;
}

.reservation .reservation_text a{
	float:left;
	margin-top:4px;
}

.reservation .reservation_text.title{
	font-weight:600;
	border-bottom:none;
	margin-top:8px;
	margin-bottom:3px;
	border-top:none;
	height:18px;
}

.reservation input{
	padding:2px;
	margin-right:3px;
	float:right;
}

.reservation select{
	padding:1px;
	margin-right:3px;
	float:right;
}

/*		  	 	REGISTER				*/
.reservation .register{
	float:left;
	width:450px;
	position:relative;
}

.reservation .register .right{
	float:right;
	padding:0px 20px;
	width:400px;
	height:200px;
	background-color:#eee;
	z-index:1;
	display:none;
}
.reservation .register .right.active{
	display:block;
}

.reservation_text.reg{
	width:390px;
}
.reservation_text.reg.title{
	font-size:14px;
	font-weight:600;
	width:390px;
	margin-bottom:10px;
}

.reservation .reservation_right{
	width:303px;
	height:650px;
	padding:12px 10px 10px 30px;
	float:right;
	background-color:#eee;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
}

.reservation .reservation_price{
	width: 303px;
	margin:1px 10px 4px 0px;
	text-align:left;
	float:right;
	font-size:16px;
	border-bottom:1px solid #dce1e6;
	padding:4px 0px 4px 0px;
	color:#64c558;
	font-weight:600;
}

.reservation .reservation_price span{
	font-size:24px;
	float:right;
	font-weight:800;
}

.reservation .reservation_under_price{
	width: 303px;
	margin:0px 10px 0px 0px;
	padding:5px 0px 6px 0px;
	text-align:left;
	float:right;
	font-size:14px;
	border-top:none;
	color:#808892;
	border-bottom:1px solid #dce1e6;
}

.reservation .reservation_under_price span{
	font-weight:600;
}

.reservation .calculation_details{
	font-size: 14px;
	margin-top:12px;
	padding:9px 0px;
	float:left;
	margin-left:-10px;
	color:#3f8db0;
}

.reservation .reservation_calendar{
	float:left;
	margin:10px 0px;
	height:225px;
	width:454px;
	margin-right:-200px;
}

.reservation .reservation_calendar .arrow_left{
	float:left;
	width:30px;
	height:225px;
	cursor:pointer;
	background:url(../images/arrow_left.png) no-repeat 5px 80px;
}

.reservation .reservation_calendar .arrow_right{
	float:left;
	width:30px;
	height:225px;
	cursor:pointer;
	background:url(../images/arrow_right.png) no-repeat 5px 80px;
}

.reservation .reservation_calendar .reservation_calendar_in{
	float:left;
	width:394px;
	height:225px;
	overflow:hidden;
	position:relative;
}
.reservation .reservation_calendar .reservation_calendar_in span{
	font-weight:600;
}

.booking_button_req{
	float:left;
	margin:10px 0px;
	width: 297px;
	color: #ffffff;
	background-color:#64c558;
	cursor: pointer;
	display: block;
	height:48px;
	line-height:48px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}

.message{
	position:absolute;
	left:50%;
	margin-left:-325px;
	top:200px;
	width:650px;
	padding:20px;
	background-color:#FFF;
	border:1px solid #5ab010;
	border-radius:6px;
	text-align:center;
}

.message a{
	font-size:18px;
	color:#808892;
}

.message a span{
	font-size:24px;
	color:#5ab010;
}



/*		 	    LOCATION				*/

#location{
	position:fixed;
	display:none;
	width:1184px;
	height:584px;
	padding:8px;
	top:50%;
	margin-top:-300px;
	left:50%;
	margin-left:-600px;
	background-color:#fff;
	-webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	z-index:200;
}

#location .location_map{
	width:920px;
	height:100%;
	background-color:#dce1e6;
	text-shadow:none;
	float:left;
}

#location .information{
	width:240px;
	float:right;
	padding:5px 10px; 
}

#location .information .information_text{
	font-size:14px;
	width:230px;
	text-align:left;
	color:#444444;
	padding:5px; 
}
#location .information .information_text.header{
	font-weight:600;
	font-size:16px;
	border-bottom:1px dotted #dce1e6;
}
#location .information .information_text span{
	font-weight:600;
}










/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

/* ------------------------------------ */
/*		   LEFT AREA 20% SEARCH			*/
/* ------------------------------------ */

#left_area_20_search{
	position:absolute;
	left:0px;
	top:50px;
	width:214px;
}

#left_area_20_search .full{
	float:left;
	overflow:hidden;
	position:relative;
	margin-top:12px;
	left:0px;
	width:100%;
	background:#ffffff;
	-webkit-border-top-left-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-bottomleft:6px;
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);	
	font-size:16px;
	text-align:center;
}

#left_area_20_search .full .in{
	margin:3px 0px 3px 3px;
	padding:10px 3px 6px 0px;
	height:500px;
	background:#f8f8f8;
	-webkit-border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-bottomleft:4px;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
	webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
	color:#3f8db0;
}



/* ------------------------------------ */
/*		 		   LIST					*/
/* ------------------------------------ */

#list{
	position:relative;
	float:right;
	width:968px;
	margin-bottom:50px;
	z-index:3;
}

#list .list_in{
	display:none;
	position:relative;
	float:left; 
	width:948px;
	padding:10px;
	margin-bottom:3px;
	background:#f8f8f8;
	min-height:1151px;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
	webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4) inset;
	overflow:hidden;
}
#list .list_in.search{
	display:block;
	z-index:1;
}
#list .list_in .list_loading{
	background: url(../images/loading.gif) center 110px no-repeat;
	height:150px;
}
#list .list_in a{
	text-decoration:none;
}

#list .list_in .title{
	width:100%;
	color:#3f8db0;
	font-size:18px;
	line-height:20px;
	padding-bottom:5px;
}

#list .list_in .title.main{
	font-size:24px;
	line-height:24px;
}

#list .list_in .text{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	color:#444444;
	font-size:14px;
	line-height:14px;
	padding-top:10px;
}

#list .list_in .table{
	width:100%;
	color:#444444;
	font-size:16px;
	line-height:20px;
	padding:10px 0 5px 0;
}

#list .list_in .table tr td{
}

#list .list_in .table a{
	float:left;
}

#list .list_in .table em{
	color:#de543e;
	float:left;
}

#list .list_in .table span{
	line-height:22px;
	font-size:12px;
	color:#bbb;
	float:left;
	margin-left:5px;
}



/* ------------------------------------ */
/*		 	  	DIRECTIONS				*/
/* ------------------------------------ */

.directions{
	position:absolute;
	left:50%;
	margin-left:160px;
	padding:20px;
	width:400px;
	-webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	background-color:#ffffff;
	color:#444444;
}

.directions span{
	font-weight:600;
}

.directions .header{
	font-size:16px;
	font-weight:600;
}

.directions .text{
	font-size:14px;
	margin:10px 0px 0px 0px;
}
.directions .text.active{
	color:#de543e;
}



/* ------------------------------------ */
/*		   	  	  PROFILE				*/
/* ------------------------------------ */

.profile_tab{
	position:relative;
	margin:30px 0px 0px 10px;
	float:left;
	text-align:center;
	cursor:pointer;
	padding:15px;
	color:#444444;
	z-index:7;
	background:#ffffff;
	-webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
	border:1px solid #dce1e6;
	margin-bottom:-5px;
}
.profile_tab span{
	font-weight:600;
}
.profile_tab.active{
	color:#64c558;
	z-index:20;
}
.profile_tab.active .hide_shadow{
	position:absolute;
	left:0px;
	bottom:-5px;
	height:5px;
	width:100%;
	background:#ffffff;
}
.profile_tab:hover{
	color:#64c558;
}

.profile_menu{
	position:relative;
	margin-top:79px;
	padding:50px;
	color:#444444; 
	cursor:default;
	background:#ffffff;
	z-index:5;
	border:1px solid #dce1e6;
	overflow:hidden;
}

.profile_menu.active{
	display:block;
	position:relative;
	float:left;
	left:0px;
	width:1194px;
	z-index:10;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.profile_menu .profile_menu_hide{
	display:none;
}



/* ------------------------------------ */
/*		 	  		WHY					*/
/* ------------------------------------ */
.header_why{
	font-size:18px;
	font-weight:600;
	margin-bottom:10px;
}
.text_why{
	font-size:16px;
}




/* ------------------------------------ */
/*	     ADD ACCOMMODATION IFRAME		*/
/* ------------------------------------ */

#add_object_accommodation_iframe{
}

#add_object_accommodation_iframe .full{
}

#add_object_accommodation_iframe .full a{
	text-decoration:none;
}

#add_object_accommodation_iframe .full .title{
	width:100%;
	font-weight:600;
	color:#64c558;
	font-size:24px;
	line-height:24px;
	margin-bottom:5px;
}

#add_object_accommodation_iframe .full .title.main{
	font-size:24px;
	line-height:24px;
}

#add_object_accommodation_iframe .full .text{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	color:#444444;
	height:14px;
	font-size:14px;
	line-height:14px;
	padding-top:10px;
}

#add_object_accommodation_iframe .full .text span{
	font-weight:600;
}

#add_object_accommodation_iframe .full .table{
	width:100%;
	color:#444444;
	font-size:14px;
	line-height:16px;
	padding:10px 0 5px 0;
}

#add_object_accommodation_iframe .full .table tr td{
}

#add_object_accommodation_iframe .full .table a{
	float:left;
}

#add_object_accommodation_iframe .full .calendar{
	float:left;
	width:815px;
	padding:10px;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	margin:10px 0px 10px 0px;
	cursor:pointer;
}

#add_object_accommodation_iframe .full .calendar .object{
	font-size:16px;
	color:#444444;
}

#add_object_accommodation_iframe .full .calendar .accommodation{
}

#add_object_accommodation_iframe .full .calendar .accommodation .top_accommodation{
	width:100%;
	height:77px;
}

#add_object_accommodation_iframe .full .calendar .accommodation .top_accommodation .text{
	padding-left:10px;
	width:400px;
	height:25px;
	font-size:18px;
	color:#444444;
}

#add_object_accommodation_iframe .full .calendar .accommodation .top_accommodation .position{
	font-size:18px;
	margin:-10px 0px 0px -10px; 
	padding:15px 10px 5px 10px;
	color:#3f8db0;
	cursor:pointer;
}

#add_object_accommodation_iframe .full .calendar .accommodation .top_accommodation .photos{
	float:right;
	width:289px;
	height:71px;
	padding:3px;
	margin-left:3px;
}

#add_object_accommodation_iframe .full .calendar .accommodation .top_accommodation .photos .photo{
	float:left;
	margin-right:3px;
	background:#dce1e6;
	width:94px;
	height:71px;
	background:#eee;
}

#add_object_accommodation_iframe .full .calendar .accommodation .slide{
	padding-left:15px;
	width:800px;
	display:none;
	cursor:auto;
}
#add_object_accommodation_iframe .full .calendar .accommodation .slide.active{
	display:block;
}

#add_object_accommodation_iframe .full .calendar .accommodation .slide_top{
	padding:20px 0px 0px 0px;
	width:780px;
	height:70px;
	margin-bottom:10px;
	border-bottom:2px #dce1e6 solid;
	cursor:auto;
}

#add_object_accommodation_iframe .full .calendar .accommodation .slide_top .text{
	padding-left:0px;
	font-size:14px;
	color:#444444;
}

#add_object_accommodation_iframe .full .calendar .accommodation .slide_top .left{
	float:left;
	width:390px;
	cursor:auto;
}

#add_object_accommodation_iframe .full .calendar .accommodation .slide_top .right{
	float:left;
	width:390px;
	cursor:auto;
}

/*	    	 UPDATE CALENDAR	 		*/
.calendar .text{
	float:left;
	text-align:left;
	padding:10px 0px 0px 20px;
	width:771px;
	height:480px;
	overflow:auto;
}

.calendar .month{
	float:left;
	width:182px;
	height:203px;
	margin:8px 7px 7px 8px;
}

.calendar .month .name{
	float:left;
	width:100%;
	text-align:center;
	color:#444444;
	font-size:14px;
}

.calendar .month .day{
	float:left;
	width:21px;
	height:15px;
	text-align:right;
	border:1px solid #ffffff;
	padding-right:1px;
	margin:1px;
	font-size:12px;
	line-height:16px;
} 

.calendar .month .day.name{
	font-weight:bold;
	width:22px;
	color:#ffffff;
	text-align:center;
	padding:0px;
	border:1px solid #3f8db0;
	background-color:#3f8db0;
}

.calendar .month .day.free{
	color:#444444;	
	border:1px solid #444444;
	background-color:#fbfbfb;
}

.calendar .month .day.busy{
	color:#7e0000;
	border:1px solid #7e0000;
	background-color:#ffbdbd;
}

.calendar .month .day.book{
	color:#646800;
	border:1px solid #646800;
	background-color:#feffbd;
}

.calendar .legend{
	float:left;
	color:#444444;
	font-size:13px;
	margin:3px 5px 5px 5px;
}

.calendar .legend .day.busy{
	float:left;
	width:20px;
	height:15px;
	text-align:center;
	height:15px;
	color:#7e0000;
	border:1px solid #7e0000;
	background-color:#ffbdbd;
	margin-right:5px;
}

.calendar .legend .day.book{
	float:left;
	width:20px;
	height:15px;
	text-align:center;
	height:15px;
	color:#717800;
	border:1px solid #646800;
	background-color:#feffbd;
	margin-right:5px;
}



/* ------------------------------------ */
/*		      	ADD PHOTO				*/
/* ------------------------------------ */

.add_photo{
	display:none;
	padding:40px 10px 10px 10px;
	position:absolute;
	top:-47px;
	left:118px;
	width:640px;
	height:580px;
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	background:#ffffff;
	z-index:3;
	cursor:default;
}

.add_photo.active{
	display:block;
}

.add_photo .full a{
	text-decoration:none;
}

.add_photo .full .title{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	color:#3f8db0;
	font-size:24px;
	line-height:24px;
	padding-bottom:5px;
}

.add_photo .full .text{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	color:#444444;
	font-size:14px;
	line-height:14px;
	padding-top:5px;
}

.add_photo_close{
	position:absolute;
	top:185px;
	left:730px;
	width:50px;
	height:20px;
	line-height:20px;
	z-index:4;
	cursor:pointer;
	display:inline-block;
	color:#666666;
	font-size:14px;
	font-weight:600;
	text-decoration:none;
	text-align:center;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.add_photo_close:hover{
	color:#de543e;
}

.close_photos{
	display:none;
}
.close_photos.active{
	display:block;
}

.add_photo_arrow{
	display:none;
	position:absolute;
	top:2px;
	right:82px;
	width:30px;
	height:30px;
	z-index:4;
	background:url(../images/add_photo_arrow.png);
	cursor:pointer;
}

.add_photo_arrow.active{
	display:block;
}

#brslika{
	font-weight:600;
}



/* ------------------------------------ */
/*		      DELETE CONFIRM			*/
/* ------------------------------------ */

.delete_confirm{
	display:none; 
	position:fixed;
	width:840px;
	height:146px; 
	top:50%;
	left:50%;
	margin-left:-420px;
	margin-top:-150px;
	text-align:center;
	background-color:#fff;
	-webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	background:#fff;
	border:2px solid #64c558;
	z-index:200;
}

.delete_confirm.active{
	display:block;
}

.delete_confirm .text{
	width:100%;
	margin-top:40px;
	float:left;
	font-size:18px;
	color:#808892;
}

.delete_confirm .buttons{
	margin-top:75px;
	width:285px;
	margin-left:auto;
	margin-right:auto;
	font-size:18px;
	background-color:#000;
}

.delete_confirm .buttons .button{
	float:left;
	margin-left:10px; 
	margin-right:10px;
	width:100px;
}
