/* ------------------------------------ */
/*			  	   FONT					*/ 
/* ------------------------------------ */

@font-face{
  font-family:'Open Sans';
  font-style:normal;
  font-weight:300;
  src:local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/OpenSans-Semibold.woff) format('woff');
}
@font-face{
  font-family:'Open Sans';
  font-style:normal;
  font-weight:800;
  src:local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../fonts/OpenSans-Extrabold.woff) format('woff');
}



/* ------------------------------------ */
/*			  BASIC STRUCTURE			
/* ------------------------------------ */

html{
	height:100%;
	width:100%;
	font-family:'Open Sans', sans-serif;
	color:#444444;
	background:#ffffff;
	font-weight:300;
}

body{
    width:100%;
	line-height:18px;
	margin-top:150px;
	text-align:left;
	font-size:14px;
}



/* ------------------------------------ */
/*		 BASIC CONTENT ELEMENTS			*/
/* ------------------------------------ */

::selection {
	background: #64c558;
	color:#ffffff;
}
::-moz-selection {
	background: #64c558;
	color:#ffffff;
}

a{
	text-decoration:none;
}

h1{
	margin:0 0 15px 0;
	color:#444444;
	font-weight:bold;
	font-size:32px;
}

sup{
	font-size:8px;
}

p{
	font-size:14px;
}

*{
	margin:0;
	padding:0;
}

li{
	list-style-type:none;
}

img{
	border:0px;
}

em{
	color:#de543e;
}

optgroup{
	padding:10px 5px 0px 5px;
	color:#64c558;
	font-style:normal;
	font-weight:600;
}

option{
	padding-left:10px;
	color:#666666;
	font-weight:normal;
}
option:hover{
	color:#ffffff;
	background:#64c558;
}

fieldset{
	display:none;
}



/* ------------------------------------ */
/*	   			  OLD IE				*/
/* ------------------------------------ */

.old_IE{
	top:0px;
	left:0px;
	position:fixed;
	display:none;
	width:100%;
	height:100%;
	background:#ffffff;
	z-index:999999;
}
.old_IE .text{
	position:fixed;
	width:100%;
	font-size:18px;
	color:#444444;
	margin-top:22%;
	text-align:center;
	line-height:40px;
}
.old_IE a{
	position:relative;
	font-size:18px;
	text-decoration:underline;
	color:#64c558;
}



/* ------------------------------------ */
/*	   INPUT BOXES & SUBMIT BUTTONS		*/
/* ------------------------------------ */

/*  			CHECKBOX				*/

input[type=checkbox].checkbox{
	display:none;
}

input[type=checkbox].checkbox + label.label{
	width:170px;
	padding-left:20px;
	height:19px; 
	line-height:19px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position: 0px 2px;
	font-size:13px;
	vertical-align:middle;
	cursor:pointer;
	margin-top:1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type=checkbox].checkbox + label.label.big{
	width:100%;
	font-size:14px;
	height:19px; 
	line-height:19px;
	margin-top:5px;
}

input[type=checkbox].checkbox:checked + label.label{
	background-position: 0 -15px;
}
						
.label{
	background:url(../images/lite-green-check.png) no-repeat;
}



/*  INPUT BOXES & SUBMIT BUTTONS *NAV*	*/

.input_nav{
	padding:2px;
    border:1px solid #dce1e6;
    background:#ffffff;
	color:#666666;
	width:170px;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.input_nav:hover{
    border:1px solid #64c558;
}

.button_nav{
	background-color:#ffffff;
	border:1px solid #64c558;
	color:#64c558;
	padding:1px 8px;
	text-decoration:none;
	cursor:pointer;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.button_nav:hover{
	background-color:#64c558;
	border:1px solid #64c558;
	color:#ffffff;
}



/*  			INPUT BOXES				*/

.input{
	padding:2px;
    border:1px solid #dce1e6;
    background:#ffffff;
	color:#666666;
	margin-bottom:15px;
	font-size:14px;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.input:hover{
    border:1px solid #64c558;
}

.input.select{
    border:none;
}
.input.select:hover{
    border:none;
}

.input.horizontal{
	margin:2px 0px 2px 0px;
}

.styled-select{
	overflow: hidden;
	background:#ffffff;
    border:1px solid #dce1e6;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
} 
.styled-select:hover{
    border:1px solid #64c558;
} 
.styled-select.index{
	float:right;
	width:161px;
	background: url(../images/select_arrow.png) no-repeat 142px -15px #ffffff;
}
.styled-select.index:hover{
	background: url(../images/select_arrow.png) no-repeat 142px 4px #ffffff;
}
.styled-select.res{
	background: url(../images/select_arrow.png) no-repeat 10px -13px #ffffff;
	border:none;
	margin:0px;
	width:190px;
	font-size:14px;
	padding:5px 0px 5px 30px;
}
.styled-select.res:hover{
	background: url(../images/select_arrow.png) no-repeat 10px 6px #ffffff;
}
.styled-select.search{
	margin-top:5px;
	line-height:14px;
	width:191px;
	background: url(../images/select_arrow.png) no-repeat 172px -18px #ffffff;
}
.styled-select.search:hover{
	background: url(../images/select_arrow.png) no-repeat 172px 1px #ffffff;
}
.styled-select.list_nav{
	float:left;
	line-height:14px;
	width:186px;
	background: url(../images/select_arrow.png) no-repeat 167px center #ffffff;
}

.input.search_index{
	position:relative;
	width:183px;
	padding:5px;
	margin-bottom:0px;
	float:left;
}
.input.search_index.select{
	width:215px;
	float:left;
	background:transparent;
	-webkit-appearance: none;
}
.input.search_index.calendar{
	background: url(../images/calendar.png) no-repeat 92px center #ffffff;
	cursor: pointer;
	width:100px;
	padding:6px;
	float:left;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.input.search_index.calendar:hover{
	background: url(../images/calendar_hover.png) no-repeat 92px center #ffffff;
}



.input.search_accommodation{
	position:relative;
	width:183px;
	padding:2px;
	margin-bottom:0px;
	float:left;
}
.input.search_accommodation.select{
	width:215px;
	float:left;
	background:transparent;
	-webkit-appearance: none;
}
.styled-select.search_accommodation{
	background: url(../images/select_arrow.png) no-repeat 10px -13px #ffffff;
	border:none;
	margin:0px;
	width:190px;
	font-size:14px;
	padding:5px 0px 5px 30px;
}
.styled-select.search_accommodation:hover{
	background: url(../images/select_arrow.png) no-repeat 10px 6px #ffffff;
}
.input.sidebar_in.search_accommodation.calendar{
	background: url(../images/calendar.png) no-repeat 10px center #ffffff;
	border:none;
	margin:0px 0px 10px 0px;
	width:185px;
	font-size:14px;
	padding:8px 0px 8px 35px;
	color:#666666;
}
.input.sidebar_in.search_accommodation.calendar:hover{
	background: url(../images/calendar_hover.png) no-repeat 10px center #ffffff;
}

.input.sidebar_in.calendar{
	background: url(../images/calendar.png) no-repeat 70px center #ffffff;
	cursor: pointer;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.input.sidebar_in.calendar:hover{
	background: url(../images/calendar_hover.png) no-repeat 70px center #ffffff;
}
.input.sidebar_in.calendar.res{
	background: url(../images/calendar.png) no-repeat 10px center #ffffff;
	border:none;
	margin:0px;
	width:185px;
	font-size:14px;
	padding:10px 0px 10px 35px;
	color:#666666;
}
.input.sidebar_in.calendar.res:hover{
	background: url(../images/calendar_hover.png) no-repeat 10px center #ffffff;
}

.input.sidebar_in{
	margin-top:5px;
	width:193px;
	margin-bottom:0px;
}
.input.sidebar_in.select{
	width:215px;
	float:left;
	margin-top:0px;
	background:transparent;
	-webkit-appearance: none;
}



/*  			BUTTON				*/

.button{
	display:inline-block;
	background-color:#ffffff;
	border: 1px solid #64c558;
	color:#64c558;
	padding:0px 10px;
	height:30px;
	line-height:30px;
	font-size:14px;
	text-decoration:none;
	cursor:pointer;
	text-align:center;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.button:hover{
	background-color:#64c558;
	color:#ffffff;
}

.button span{
	font-weight:bold;
	padding-left:5px;
	border-left:1px solid #64c558;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.button:hover span{
	border-left:1px solid #ffffff;
}

.button.reg{
	margin-top:10px;
	padding:0px 20px;
	height:40px;
	line-height:40px;
	font-size:16px;
}



/* ------------------------------------ */
/* 			PARALLAX SCROLLING			*/
/* ------------------------------------

#parallaxscrolling {
	margin-top:-150px;
	background-position:center 70px;
    background-repeat: no-repeat;
    background-size: cover;
	height: 640px;
	width: 100%;
	background-image: url(../images/slide_photos/slide1.jpg);
}



/* ------------------------------------ */
/* 				 SLIDESHOW				*/
/* ------------------------------------ */

.slide_div{
	width:100%;
	height:490px;
	overflow:hidden;
}

#slideshow{  
	width:100%;
	height:490px;
	position:relative;
	background-color:#f8f8f8;
}  
  
#slideshow ul{
	margin:0;
	padding:0;
	list-style-type:none;  
	height:1%; /* IE fix */
}  
  
#slideshow ul:after{  
	content:".";  
	clear:both;  
	display:block;  
	height:0;  
	visibility:hidden;
}              
  
/* SLIDESHOW > SLIDES */ 
#slideshow .slides{
	overflow:hidden;
	width:100%;
}  
  
#slideshow .slides ul{  
	overflow:hidden;
}  
  
#slideshow .slides li{
	width:100%; 
	height:490px;
	float:left;
}

#slideshow .slides .slide_text{
	display:none;
	position:absolute;
	z-index:11;
	left:50%;
	margin-left:-570px;
	font-size:34px;
	line-height:34px;
	font-weight:300;
	color:#ffffff;
	text-shadow:#666666 0px 0px 2px;
}
#slideshow .slides .slide_text.top{
	top:50px;
}
#slideshow .slides .slide_text.bottom{
	top:94px;
}
#slideshow .slides .slide_text span{
	font-weight:600;
}

#slideshow li img{
	position:absolute;
	top:0px;
	width:100%;
	height:auto;
	
}

.slideshow_bottom_shadow{
	position:absolute;
	width:100%;
	height:10px;
	z-index:1;
	top:640px;
	box-shadow:0px -2px 2px rgba(0, 0, 0, 0.3);
	z-index:200;
}
  
/* SLIDESHOW > NAVIGATION */  
#slideshow .slides-nav{
	display:none;
	position:absolute;
	top:20px;
	width:69px;
	left:50%;
	margin-left:-34px;
	z-index:10;
}  
  
#slideshow .slides-nav li{
	float:left;
	text-align:center;
}  
  
#slideshow .slides-nav li a{
	width:23px;
	height:23px;
	display:block;
	background: url(../images/slides_nav.png) 0px 23px;
}  
#slideshow .slides-nav li a:hover{
	background: url(../images/slides_nav.png) 0px 0px;
}  
#slideshow .slides-nav li.on a{
	background: url(../images/slides_nav.png) 0px 0px;
}



/* ------------------------------------ */
/*		 		MAIN SEARCH				*/
/* ------------------------------------ */

#main_search{
	position:absolute;
	left:50%;
	margin-left:-570px;
	top:500px;
	width:1140px;
	padding:5px 5px;
	z-index:500;
	background:none repeat scroll 0% 0% rgba(255, 255, 255, 0.3);
}

#main_search h2{
	float:left;
	height:93px;
	line-height:93px;
	width:280px;
	text-align:center;
	text-transform:uppercase;
	font-size:40px;
	font-weight:800;
	color:#ffffff;
	text-shadow:#666666 0px 0px 2px;
}

#main_search .body{
	float:left;
	padding:20px 0px;
	background-color:#ffffff;
}

#main_search .body .search_box{
	float:left;
	width:163px;
	padding:0px 20px;
	border-right:1px dotted #dce1e6;
}
#main_search .body .search_box.cal{
	width:113px;
}
#main_search .body .search_box.cal.first{
	border-right:none;
	padding-right:0px;
}
#main_search .body .search_box.cal.last{
}

#main_search .body .search_box h3{
	float:left;
	width:100%;
 	color:#444444;
	font-size:16px;
	font-weight:300;
	margin:0px 0px 5px 0px;
}

#main_search .body .search_box_button{
	float:left;
	width:auto;
	padding:0px 20px;
}

#main_search .body .search_box_button .button{
	font-size:24px;
	padding:0px;
	width:121px;
	height:48px;
	line-height:48px;
	margin:0 auto;
	border:2px solid #64c558;
	background:#64c558;
	color:#fff;
}



/* ------------------------------------ */
/*	    		DATE PICKER	 	 		*/
/* ------------------------------------ */

.JsDatePickBox{
	position:relative;
	margin-top:2px;
	margin-left:0px;
	width:196px;
	background-color:#ffffff;
	z-index:500;
	-webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
}
.JsDatePickBox_index{
	position:relative;
	margin-top:-200px;
	margin-left:-156px;
	width:196px;
	background-color:#ffffff;
	z-index:500;
	-webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
}
.JsDatePickBox_accommodation{
	position:relative;
	margin-top:-75px;
	margin-left:-185px;
	width:196px;
	background-color:#ffffff;
	z-index:500;
	-webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.4);
}

.jsDatePickCloseButton{
	cursor:pointer;
	position:absolute;
	z-index:1;
	top:0px;
	right:10px;
	width:33px;
	height:13px;
	background:url(../images/datepicker/closeButton_normal.png) left top no-repeat;
}

.jsDatePickCloseButtonOver{
	cursor:pointer;
	position:absolute;
	z-index:1;
	top:0px;
	right:10px;
	width:33px;
	height:13px;
	background:url(../images/datepicker/closeButton_normal.png) left top no-repeat;
	/*background:url(../images/datepicker/closeButton_over.png) left top no-repeat;*/
}

.jsDatePickCloseButtonDown{
	cursor:pointer;
	position:absolute;
	z-index:1;
	top:0px;
	right:10px;
	width:33px;
	height:13px;
	background:url(../images/datepicker/closeButton_normal.png) left top no-repeat;
	/*background:url(../images/datepicker/closeButton_down.png) left top no-repeat;*/
}

.boxLeftWall{
	float:left;
	width:7px;
	margin:0;
	padding:0;
	background-color:#ffffff;
}

.boxLeftWall .leftTopCorner{
	margin:0;
	padding:0;
	width:7px;
	height:8px;
	overflow:hidden;
}

.boxLeftWall .leftBottomCorner{
	margin:0;
	padding:0;
	width:7px;
	height:8px;
	overflow:hidden;
}

.boxLeftWall .leftWall{
	margin:0;
	padding:0;
	width:7px;
	overflow:hidden;
}

.boxRightWall{
	float:left;
	width:7px;
	margin:0;
	padding:0;
	background-color:#ffffff;
}

.boxRightWall .rightTopCorner{
	margin:0;
	padding:0;
	width:7px;
	height:8px;
	overflow:hidden;
}

.boxRightWall .rightBottomCorner{
	margin:0;
	padding:0;
	width:7px;
	height:8px;
	overflow:hidden;
}

.boxRightWall .rightWall{
	margin:0;
	padding:0;
	width:7px;
	overflow:hidden;
}

.topWall{
	position:absolute;
	overflow:hidden;
	top:0;
	left:7px;
	width:198px;
	height:4px;
}

.bottomWall{
	position:absolute;
	overflow:hidden;
	bottom:-1px;
	left:7px;
	width:198px;
	background-color:#ffffff;
}

.hiddenBoxLeftWall{
	float:left;
	width:0;
	overflow:hidden;
	overflow:hidden;
	background-color:#ffffff;
}

.hiddenBoxRightWall{
	float:left;
	width:0;
	overflow:hidden;
	overflow:hidden;
	background-color:#ffffff;
}

.boxMain{
	float:left;
	background-color:#ffffff;
	margin:0;
	padding:15px 0px 5px 0px;
}

.boxMainStripped{
	background:#ffffff;
	border:none;
}

.tooltip{
	display:none;
	height:12px;
	line-height:11px;
	overflow:hidden;
	font-size:10px;
	color:#444444;
	text-align:left;
	padding:0;
	margin:2px 0 2px 0;
}

.weekDaysRow{
	height:23px;
	overflow:hidden;
	color:#ffffff;
	text-align:center;
	padding:0;
	margin:2px 0 1px 0;
}

.weekDaysRow .weekDay{
	float:left;
	height:23px;
	overflow:hidden;
	width:24px;
	margin:1px;
	padding:0;
	background:#64c558;
	font-weight:600;
	line-height:23px;
	font-size:12px;
}

.boxMainInner{
	width:182px;
	float:left;
	margin:0 0 2px 0;
	padding:0;
}

.boxMainCellsContainer{
	background-color:#ffffff;
	margin:0;
	padding:0;
}

.boxMainInner .controlsBar{
	overflow:hidden;
	height:20px;
	position:relative;
	margin:5px 0px;
}

.boxMainInner .controlsBarText{
	overflow:hidden;
	height:20px;
	line-height:20px;
	color:#444444;
	text-align:center;
	font-size:14px;
	font-weight:600;
}

.boxMainInner .monthForwardButton{
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	right:0;
	background:url(../images/datepicker/monthForward_normal.gif) left top no-repeat;
}

.boxMainInner .monthForwardButtonOver{
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	right:0;
	background:url(../images/datepicker/monthForward_over.gif) left top no-repeat;
}

.boxMainInner .monthForwardButtonDown{
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	right:0;
	background:url(../images/datepicker/monthForward_down.gif) left top no-repeat;
}

.boxMainInner .monthBackwardButton{
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	left:0;
	background:url(../images/datepicker/monthBackward_normal.gif) left top no-repeat;
}

.boxMainInner .monthBackwardButtonOver{
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	left:0;
	background:url(../images/datepicker/monthBackward_over.gif) left top no-repeat;
}

.boxMainInner .monthBackwardButtonDown{
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	left:0;
	background:url(../images/datepicker/monthBackward_down.gif) left top no-repeat;
}

.boxMainInner .yearForwardButton{
	display:none;
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	right:0;
	background:url(../images/datepicker/yearForward_normal.gif) left top no-repeat;
}

.boxMainInner .yearForwardButtonOver{
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	right:0;
	background:url(../images/datepicker/yearForward_over.gif) left top no-repeat;
}

.boxMainInner .yearForwardButtonDown{
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	right:0;
	background:url(../images/datepicker/yearForward_down.gif) left top no-repeat;
}

.boxMainInner .yearBackwardButton{
	display:none;
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	left:0;
	background:url(../images/datepicker/yearBackward_normal.gif) left top no-repeat;
}

.boxMainInner .yearBackwardButtonOver{
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	left:0;
	background:url(../images/datepicker/yearBackward_over.gif) left top no-repeat;
}

.boxMainInner .yearBackwardButtonDown{
	overflow:hidden;
	cursor:pointer;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	left:0;
	background: url(../images/datepicker/yearBackward_down.gif) left top no-repeat;
}

.boxMainInner .skipDay{
	cursor:default;
	overflow:hidden;
	width:24px;
	height:23px;
	float:left;
	margin:1px;
	padding:0;
}

.boxMainInner .dayNormal{
	-khtml-user-select:none;
	font-size:12px;
	cursor:pointer;
	overflow:hidden;
	color:#444444;
	width:24px;
	height:23px;
	float:left;
	margin:1px;
	padding:0;
	text-align:center;
	line-height:23px;
}

.boxMainInner .dayNormalToday{
	-khtml-user-select:none;
	font-size:12px;
	cursor:pointer;
	overflow:hidden;
	color:#444444;
	width:24px;
	height:23px;
	float:left;
	margin:1px;
	padding:0;
	text-align:center;
	line-height:23px;
}

.boxMainInner .dayDisabled{
	-khtml-user-select:none;
	font-size:12px;
	cursor:pointer;
	overflow:hidden;
	color:#444444;
	width:24px;
	height:23px;
	float:left;
	margin:1px;
	padding:0;
	text-align:center;
	line-height:23px;
}

.boxMainInner .dayOver{
	-khtml-user-select:none;
	font-size:12px;
	cursor:pointer;
	overflow:hidden;
	color:#ffffff;
	width:24px;
	height:23px;
	float:left;
	margin:1px;
	padding:0;
	text-align:center;
	line-height:23px;
}

.boxMainInner .dayOverToday{
	-khtml-user-select:none;
	font-size:12px;
	cursor:pointer;
	overflow:hidden;
	color:#ffffff;
	width:24px;
	height:23px;
	float:left;
	margin:1px;
	padding:0;
	text-align:center;
	line-height:23px;
}

.boxMainInner .dayDown{
	-khtml-user-select:none;
	font-size:12px;
	cursor:pointer;
	overflow:hidden;
	color:#ffffff;
	width:24px;
	height:23px;
	float:left;
	margin:1px;
	padding:0;
	text-align:center;
	line-height:23px;
}

.boxMainInner .dayDownToday{
	-khtml-user-select:none;
	font-size:12px;
	cursor:pointer;
	overflow:hidden;
	color:#ffffff;
	width:24px;
	height:23px;
	float:left;
	margin:1px;
	padding:0;
	text-align:center;
	line-height:23px;
}